.modal-header
  h5.modal-title Login
  button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
.modal-body
  p this will be a login modal some day
.modal-footer
  button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
  button.btn.btn-primary(type="button") Login
