@import "./bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.code-tooltip {
  background-color: black;
}

.container-fluid-max {
  max-width: 1600px;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.nav-progress {
  height: 1px;
}
