doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title My Website
    script(src="https://unpkg.com/htmx.org/dist/htmx.min.js")
    script(type="module", src="http://localhost:5173/@vite/client")
    script(type="module", src="http://localhost:5173/scripts/main.ts")
  body.container.w-100.h-100
    include partials/nav
    header.w-100
      h1 My Website
    main.w-100
      block content
    footer.w-100
      p Copyright © 2021 My Website
